<!-- <div class="jumbotron">
  <div class="container">
    <h1>Skill Assesment</h1>
  </div>
</div>

<div class="card-center" *ngIf="!startTest">
  <div class="box-1">
    <div class="btn btn-one">
      <span><h1>Start Test</h1></span>
    </div>
  </div>
</div> -->
<div class="landing" *ngIf="!startTest">
  <header id="showcase">
    <h1>Skill Based Assessment</h1>
    <p>Future of young aspiring minds</p>
    <a (click)="start()" class="button">Start Test</a>
  </header>
</div>

<div class="card-center" *ngIf="startTest">
  <ion-card class="questions" *ngIf="!result">
    <ion-card-content>
      <ion-card-header class="heading" question-number
        ><b>{{ currentQuestion.questionName }}</b></ion-card-header
      >
      <br />
      <ion-list *ngIf="currentType === 'multiple'">
        <ion-radio-group class="ans-mult" (ionChange)="setAnswer($event)">
          <ion-item
            color="tertiary"
            *ngFor="let option of currentQuestion.options"
          >
            <ion-label>{{ option }}</ion-label>
            <ion-radio
              slot="start"
              color="success"
              [value]="option"
            ></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
      <ion-textarea
        [(ngModel)]="currentAnswer"
        *ngIf="currentType === 'descriptive'"
        rows="10"
        class="answer-desc"
        placeholder="Answer the question in atleast 50 words."
      ></ion-textarea>
      <ion-button
        fill="solid"
        class="next"
        size="medium"
        (click)="nextQuestion()"
        >Next</ion-button
      >
    </ion-card-content>
  </ion-card>

  <ion-card class="result" *ngIf="result">
    <ion-card-content>
      <h1>Skill Meter: <b>100%</b></h1>
      <h1>Total Score: {{ score }}</h1>
      <h1>Total Question: {{ totalQuestions }}</h1>
    </ion-card-content>
  </ion-card>
</div>
