<div class="landing" *ngIf="!startTest">
  <header id="showcase">
    <h1>Skill Meter</h1>
    <p>Future of young aspiring minds</p>
    <a (click)="start()" class="button">Start Test</a>
  </header>
</div>

<div class="card-center" *ngIf="startTest">
  <ion-card class="questions" *ngIf="!result">
    <ion-card-content>
      <ion-card-header class="heading" question-number
        ><b>{{ currentQuestion.questionName }}</b></ion-card-header
      >
      <br />
      <ion-list *ngIf="currentType === 'multiple'">
        <ion-radio-group class="ans-mult" (ionChange)="setAnswer($event)">
          <ion-item
            color="tertiary"
            *ngFor="let option of currentQuestion.options"
          >
            <ion-label>{{ option }}</ion-label>
            <ion-radio
              slot="start"
              color="success"
              [value]="option"
            ></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
      <ion-textarea
        [(ngModel)]="currentAnswer"
        *ngIf="currentType === 'descriptive'"
        rows="10"
        class="answer-desc"
        placeholder="Answer the question in atleast 50 words."
      ></ion-textarea>
      <ion-button
        fill="solid"
        class="next"
        size="medium"
        color="warning"
        (click)="nextQuestion()"
        [disabled]="currentAnswer===''"
        >Next</ion-button
      >
    </ion-card-content>
  </ion-card>

  <ion-card class="result" *ngIf="result">
    <ion-card-content>
      <!-- <h1>Total Score: {{ score }}</h1> -->
      <h1 class="tquestion">Total Question: {{ totalQuestions }}</h1>
      <div class="charts">
        <rg-gauge-chart
          [canvasWidth]="canvasWidth"
          [needleValue]="finalScore"
          [centralLabel]="centralLabel"
          [options]="options"
          [name]="name"
          [bottomLabel]="bottomLabel"
          class="gauge"
        ></rg-gauge-chart>
        <div id="chart">
          <apx-chart
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [dataLabels]="chartOptions.dataLabels"
            [plotOptions]="chartOptions.plotOptions"
            [xaxis]="chartOptions.xaxis"
          ></apx-chart>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</div>
